

.header {
  
  display: flex;
  
  align-items: center;
  justify-content: space-between;
  
  
}

.container{

  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  padding: 20px;
  align-items: center;
  
}



.movie-cover {
  width: 100%;
}

.hero{
  min-height: 500px;
  background-position:top center;
  background-size: cover;
  
}
.hero-content{
  color: aliceblue;
 width: Hug (404px);
height: Hug (285px);
top: 158px;
left: 98px;
gap: 16px;

}